<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Borrar Película</title>
</head>
<body>
    <h2>Borrar Película</h2>
    <p>NOTA: si no ingresas ningún ID, se borrarán todas las películas</p>
    <form method="POST">
        <label for="peliculaId">ID de Película:</label>
        <input type="text" id="peliculaId" name="peliculaId">
        <button type="submit">Borrar</button>
    </form>
    <a href="/"><button type="button">Regresar al inicio</button></a>
</body>
</html>
