<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualización de Usuario</title>
</head>
<body>
    <h2>Actualización de Usuario</h2>
    <form method="POST">
        <p>
            <label for="userId">ID:</label>
            <input type="text" id="userId" name="userId">
        </p>
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </p>
        <p>
            <label for="apPat">ApPat:</label>
            <input type="text" id="apPat" name="apPat">
        </p>
        <p>
            <label for="apMat">ApMat:</label>
            <input type="text" id="apMat" name="apMat">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="superUser">SuperUser:</label>
            <select id="superUser" name="superUser">
                <option value="3" disabled selected>No</option>
                <option value="1">Sí</option>
            </select>
        </p>
        <p>
            <button type="submit">Guardar</button>
        </p>
    </form>
</body>
</html>
