<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header>
    </header>

    <main>
        <h2>Editar usuario</h2>
        <form method="POST">
            <label for="idCliente">Id del usuario:</label>
            <input type="number" id="idCliente" name="idCliente" placeholder="Id del usuario" min="1" required>
            {% if mensaje %}
                <p>{{ mensaje }}</p>
            {% endif %}
            <button type="submit">Aceptar</button>
        </form>

        <footer>
            <a href="/"><button>Regresar al inicio</button></a>
        </footer>
    </main>
</body>
</html>
