<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
<body>    
    <h2>Tabla usuarios</h2>
    <ul>
        <li><a href="/usuario/registro">Crear Usuario</a></li>
        <li><a href="/usuario/buscarUsuario">Ver Usuarios</a></li>
        <li><a href="/usuario/actualizar">Actualizar Usuario</a></li>
        <li><a href="/usuario/borrar">Eliminar Usuario</a></li>
    </ul>

    <h2>Tabla peliculas</h2>
    <ul>
        <li><a href="/pelicula/registro">Crear Película</a></li>
        <li><a href="/pelicula/buscarPelicula">Ver Películas</a></li>
        <li><a href="/pelicula/actualizar">Actualizar Película</a></li>
        <li><a href="/pelicula/borrar">Eliminar Película</a></li>
    </ul>

</body>
</html>
