<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Message Usuario</title>
</head>
<body>
    <h2>Operación: {{ operacion }}</h2>
    <div>
        <p><strong>ID de Usuario:</strong> {{ idUsuario }}</p>
        <p><strong>Nombre:</strong> {{ nombre }}</p>
        <p><strong>Apellido Paterno:</strong> {{ apPat }}</p>
        <p><strong>Apellido Materno:</strong> {{ apMat }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Password:</strong> {{ password }}</p>
        <p><strong>Super Usuario:</strong> {{ superUser }}</p>
    </div>
    <p>
        <a href="/"><button type="button">Regresar al inicio</button></a>
    </p>
</body>
</html>
