<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <p><strong>ID:</strong> {{ pelicula.idPelicula }}</p>
        <p><strong>Nombre:</strong> {{ pelicula.nombre }}</p>
        <p><strong>Género:</strong> {{ pelicula.genero }}</p>
        <p><strong>Duración:</strong> {{ pelicula.duracion }} minutos</p>
        <p><strong>Inventario:</strong> {{ pelicula.inventario }}</p>
    </div>
    <a href="/"><button type="button">Regresar al inicio</button></a>
</body>
</html>
