<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="POST">
        <p>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </p>
        <p>
            <label for="apPat">ApPat:</label>
            <input type="text" id="apPat" name="apPat" required>
        </p>
        <p>
            <label for="apMat">ApMat:</label>
            <input type="text" id="apMat" name="apMat">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="superUser">SuperUser:</label>
            <select id="superUser" name="superUser">
                <option value="0">No</option>
                <option value="1">Sí</option>
            </select>
        </p>
        <p>
            <button type="submit">Guardar</button>
        </p>
    </form>
</body>
</html>
